@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ivory
}

header{
    background-color: violet;
}

h1{
    background-color: azure;
}

section {
    background-color: sienna;
 }

main{
    background-color: darkmagenta;
}

.hero {
    background-color: gray;
    padding: 50px;
}

h1 {
    margin: 2em;
    padding: 1em;
    border: 2px dotted black;
}

a:link{ 
    color: blue;
}

a:visited {
    color: purple;
}

a:focus {
    color: green;
}

a:hover{ 
    color: orange;
}

a:active {
    color: yellow;
}

a{
    color: rebeccapurple;
    transition: color 0.5s ease 0.2s;
}


a {
    display: inline-block;
    transition: transform 0.5 ease;
}

a:hover {
    transform: scale(1.2) rotate(10deg);
}